body {
    background-color: #ededed !important;
}

#mainContent {
    background-color: #ededed;
    font-family: "Montserrat", serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
    color: #2C3E50;
    padding: 50px;
    text-align: center;
}

.empty-market-info {
    font-size: 25px;
}

.table {
    font-size: 15px;
    border-radius: 0px 0px 15px 15px;
    max-width: 1000px !important;
    margin: 0 auto;
}

.table tbody {
    font-weight: normal;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button {
    margin-top: -15px;
}

.add-icon {
    background-color: transparent !important;
    border: none;
    color: white;
    font-size: 20px;
    transition: 0.1s;
    margin-left: 5px;
}

.add-icon:hover {
    cursor: pointer;
    color: #148F77;
}

.form input[type=number] {
    border-radius: 5px !important;
    width: 70px;
    font-size: 10px;
    height: 20px;
}

.form input[type=text] {
    display: none;
}

.valid-add-to-cart {
    font-size: 10px;
    color: green;
}

.invalid-add-to-cart {
    font-size: 10px;
    color: red;
}

@media only screen and (max-width: 767px) {
    .table {
        font-size: 10px !important;
    }
}